:root {
	--primary-green: #4aab00;
	--light-green: #75c23a;
	--primary-gray: #4e4e4e;
	--off-green-text: #ecffed;
}

* {
	padding: 0px;
	margin: 0px;
	font-family: "Roboto", sans-serif;
}

html,
body {
	width: 100%;
}

body {
	overflow-x: hidden;
}

body:after {
	content: "";
	display: block;
	clear: both;
}

/* common attributes */

.btn {
	height: 42px;
	font-size: 18px;
	color: var(--off-green-text);
	background-color: var(--light-green);
	border-radius: 4px;
	outline: none;
	border: none;
	cursor: pointer;
}
/*  heading  */

.header {
	background-color: black;
	color: var(--off-green-text);
	height: 90px;
	font-size: 18px;
	margin: auto;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	z-index: 10;
	top: 0px;
}

.links {
	list-style: none;
	color: var(--off-green-text);
	text-decoration: none;
}

.navbar {
	float: right;
	align-items: center;
	margin: 25px auto;
}

.logo {
	float: left;
	margin: auto;
}

.navlinks {
	margin: 10px auto;
	float: left;
}

.navlinks li {
	display: inline;
	letter-spacing: 0.5px;
}

.headerlogo {
	margin: 25px auto;
}

.headercontent::after {
	content: "";
	display: block;
	clear: both;
}
.navitem {
	padding: 0 15px;
	font-size: 18px;
	border-right: 1px solid var(--off-green-text);
}

.contact {
	border-right: none;
}

.headercontent {
	width: 95%;
	margin: auto;
}

/*  main section */

.mainsection {
	background-image: url("../images/banner_image.png");
	object-fit: cover;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--off-green-text);
	position: relative;
	box-sizing: border-box;
	margin: auto;
	margin-top: 90px;
	width: 100%;
}

.maincontent {
	width: 788px;
}

.infosection {
	width: 1280px;
	padding: 100px;
	margin: auto;
}

.mainsectionheading {
	font-size: 60px;
	font-weight: bold;
	margin: 15px 0 30px 0;
	font-family: "Noto Serif", serif;
	letter-spacing: 0px;
}

.mainsectionpara {
	width: 90%;
	font-size: 20px;
	margin: 15px 0;
	text-align: left;
	letter-spacing: 0px;
}

.mainsectionbtn {
	letter-spacing: 0px;
	font-size: 18px;
	height: 50px;
	width: 164px;
}

/* About */

.about {
	width: 1280px;
	margin: 30px auto;
}

.aboutbtn{
	margin:50px 0;
	width: 152px;
}

.about:after {
	content: "";
	display: block;
	clear: both;
}

.aboutinfo {
	width: 550px;
	float: left;
	margin: 115px auto;
}

.aboutImg {
	float: right;
}

.aboutheading {
	letter-spacing: 0px;
	font-size: 60px;
	font-weight: bold;
	color: var(--light-green);
	font-family: "Noto Serif", serif;

}

.breakline {
	border-bottom: 2px solid var(--light-green);
	margin-bottom: 20px;
}

.aboutpara1 {
	font-size: 24px;
	margin: 10px 0;
	text-align: left;
}

.aboutpara2 {
	font-size: 24px;
	margin: 10px 0;
	text-align: left;
}

.aboutparticularimg {
	float: left;
	box-shadow: 5px 5px 15px var(--primary-gray);
	transition: all 0.3s ease-in-out;
}

/* specialities */

.specialities {
	clear: both;
	background-image: url("../images/speciality_bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.specialities:after {
	content: "";
	display: block;
	clear: both;
}

.content {
	width: 1280px;
	margin: auto;
	padding: 130px 0;
}

.specialitiesinfo {
	margin: 10px auto;
}

.specialitiesinfoheader {
	color: var(--light-green);
	font-size: 60px;
	margin: auto;
	text-align: center;
	font-family: "Noto Serif", serif;
	font-weight: bold;
}

.specialitiesinfopara {
	font-size: 24px;
	color: var(--off-green-text);
	margin: 30px;
	text-align: center;
	width: 752px;
	margin: 30px auto;
}
.specialitiesdishs::after {
	content: "";
	display: block;
	clear: both;
}

.card {
	background-color: white;
	margin: 10px 28px;
	width: 264px;
	height: 300px;
	box-sizing: border-box;
	float: left;
}

.dishimg {
	align-items: center;
	padding: 5px;
	padding-bottom: 0px;
}

.dishname {
	margin: 25px auto;
	align-items: center;
	text-align: center;
}

.menubtn {
	height: 54px;
}

.dishname::after {
	content: "";
	display: block;
	clear: both;
}

.menuhead {
	margin: auto;
	width: 100%;
}

.menuheader {
	color: var(--light-green);
	font-size: 60px;
	text-align: center;
	font-family: "Noto Serif", serif;
	margin: 10px auto;
	font-weight: bold;
}

.menubar::after {
	content: "";
	display: block;
	clear: both;
}

.menubreakline {
	border-bottom: 3px solid var(--light-green);
	width: 120px;
	margin: 20px auto;
}

.menupara {
	font-size: 20px;
	margin: auto;
	text-align: center;
}

.mainheading {
	font-size: 32px;
	color: var(--light-green);
	font-family: "Noto Serif", serif;
	font-weight: bold;
	letter-spacing: 1.6px;
}

.mainbl {
	width: 98px;
	border-bottom: 3px solid var(--light-green);
}

.fullmenu {
}

.fullmenu:after {
	content: "";
	display: block;
	clear: both;
}

.firstpart {
	float: left;
	width: 45%;
}

.secondpart {
	float: right;
	width: 45%;
}

.itemname {
	color: var(--light-green);
	font-family: "Noto Serif", serif;
	font-size: 24px;
	letter-spacing: 0.24px;
}

.paritem::after {
	content: "";
	display: block;
	clear: both;
}

.iteminfo {
	letter-spacing: 0.2px;
	float: left;
	font-size: 20px;
	width: 80%;
	margin-bottom: 20px;
	font-family: "Noto Serif", serif;
}

.itemprice {
	letter-spacing: 2px;
	color: var(--light-green);
	font-size: 40px;
	text-align: end;
	font-family: "Noto Serif", serif;
}

.mainitem {
	margin: 5px 0;
}

.mainbtn {
	width: 100%;
	margin: auto;
}

.mainbtns {
	margin: 30px auto;
	display: block;
}

/* book section */

.booksection {
	background-image: url("../images/footer_bg.png");
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: cover;
	color: var(--off-green-text);
	padding: 30px;
}

.bookinfo {
	font-size: 24px;
}

.headsection {
	text-align: center;
	margin: 50px;
}

.bookheading {
	color: var(--light-green);
	font-size: 60px;
	font-family: "Noto Serif", serif;
	margin: 5px;
}

.labels {
	font-size: 22px;
	color: var(--light-green);
	font-family: "Noto Serif", serif;
	letter-spacing: 0.22px;
}

.form {
	margin: 60px auto;
}

.formsection {
	margin: auto 5px;
	float: left;
}

.fistinput {
	margin-left: 0px;
}

.lastinput {
	margin-right: 0px;
}

.inputfield {
	font-size: 22px;
	padding: 0px 5px;
	border: none;
	outline: none;
	border-radius: 1px;
	margin: 10px auto;
	width: 290px;
	height: 54px;
	font-family: "Noto Serif", serif;
}

.form::after {
	content: "";
	display: block;
	clear: both;
}

.bookbtndiv {
	clear: both;
	margin: 20px auto;
}

.bookbtn {
	letter-spacing: 0.24px;
	display: block;
	margin: 20px auto;
	width: 245px;
	font-size: 24px;
	border-radius: 0px;
	height: 56px;
	font-family: "Noto Serif", serif;
}

/* footer section */

.footer {
	background-color: black;
	padding: 10px auto;
	height: 124px;
	color: var(--off-green-text);
	align-items: center;
}

.icon {
	width: 32px;
	height: 32px;
	border: 1px solid var(--off-green-text);
	margin: 5px 5px;
	float: left;
}

.copyright {
	font-size: 14px;
	font-family: "Noto Serif", serif;
	letter-spacing: 0.76px;
}

.footercontent {
	width: 95%;
	margin: auto;
}

.footercontent::after {
	content: "";
	display: block;
	clear: both;
}

.logocopy {
	float: left;
	margin: 30px auto;
}

.icons {
	margin: 10px auto;
	display: block;
}

.socialmedialogos {
	float: right;
	margin: 20px auto;
}

.socialmedialinks {
	margin: auto;
}

.socialmedialinks::after {
	content: "";
	display: block;
	clear: both;
}

.follow {
	text-align: center;
	color: var(--light-green);
	font-size: 20px;
}

.container {
	width: 1280px;
	margin: auto;
	padding: 100px 0;
}

.container:after {
	content: "";
	display: block;
	clear: both;
}

.menu {
	background-image: url("../images/menu_bg.png");
	background-position: start;
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: cover;
}

.menuicon {
	align-items: center;
	margin: 10px 20px;
	float: left;
}

.butnowbtn {
	float: left;
}

.aboutbreakline {
	width: 166px;
}

.buybtn {
	color: var(--off-green-text);
	height: 42px;
	width: 120px;
	padding: 0;
	letter-spacing: 0.45px;
}

.dishnamep {
	font-family: "Noto Serif", serif;
}
