:root {
	--primary-green: #4aab00;
	--light-green: #75c23a;
	--primary-gray: #4e4e4e;
	--off-green-text: #ecffed;
}

* {
	padding: 0px;
	margin: 0px;
	font-family: "Roboto", sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
}

body{
	overflow-x: hidden;
}

/*  heading  */

.header {
	background-color: black;
	color: var(--off-green-text);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	font-size: 18px;
	padding: 0 50px;
	margin: auto;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	z-index: 10;
	top: 0px;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo {
	cursor: pointer;
}

.navlinks {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	margin: 0 10px;
}

.navitem {
	margin: 0 5px;
	padding: 0 15px;
	font-size: 18px;
	border-right: 1px solid var(--off-green-text);
	cursor: pointer;
}

.contact {
	border-right: none;
}


.menu{
	background-image: url("../images/menu_bg.png");
	background-position: start;
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: cover;
}

.menuicon {
	align-items: center;
	margin: 0 20px;
	cursor: pointer;
}

.butnowbtn {
	align-items: center;
	margin: 0 5px;
}

.butnowbtn button {
	padding: 0 20px;
	color: var(--off-green-text);
	background-color: var(--primary-green);
	border: none;
	border-radius: 2px;
	cursor: pointer;
	height: 42px;
}

/*  main section */

.mainsection {
	background-image: url("../images/banner_image.png");
	height: 800px;
	object-fit: contain;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--off-green-text);
	position: relative;
}

.infosection {
	width: 50%;
	padding: 200px;
}

.mainsectionheading {
	font-size: 60px;
	font-weight: bold;
	margin: 15px 0 30px 0;
	font-family: "Noto Serif", serif;
}

.mainsectionpara {
	width: 90%;
	font-size: 20px;
	margin: 15px 0;
	text-align: justify;
}

.mainsectionbtn {
	font-size: 18px;
	background-color: var(--light-green);
	padding: 0 20px;
	color: var(--off-green-text);
	border: none;
	border-radius: 2px;
	cursor: pointer;
	height: 42px;
	margin: 15px 0;
}

/* About */

.about {
	margin: 50px auto;
	padding: 50px;
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.aboutinfo {
	width: 35%;
}

.aboutheading {
	font-size: 60px;
	font-weight: bold;
	color: var(--light-green);
	font-family: "Noto Serif", serif;
}

.breakline {
	border-bottom: 3px solid var(--light-green);
	width: 23%;
	margin-bottom: 20px;
}

.aboutpara1 {
	margin: 10px 0;
	text-align: justify;
}

.aboutpara2 {
	margin: 10px 0;
	text-align: justify;
}

.aboutparticularimg {
	cursor: pointer;
	box-shadow: 5px 5px 15px var(--primary-gray);
	transition: all 0.3s ease-in-out;
}

/* specialities */

.specialities {
	background-image: url("../images/speciality_bg.png");
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: cover;
	width: 100%;
}

.content {
	width: 100%;
	margin: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.specialitiesinfo {
	margin: 10px auto;
	width: 60%;
}

.specialitiesinfoheader {
	color: var(--light-green);
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Noto Serif", serif;
	margin: 30px;
}

.specialitiesinfopara {
	font-size: 24px;
	color: var(--off-green-text);
	margin: 30px;
	text-align: center;
}
.specialitiesdishs {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card {
	background-color: var(--off-green-text);
	margin: 10px;
	width: 264px;
	height: 300px;
}

.dishimg {
	align-items: center;
	padding: 5px;
}

.dishname {
	margin: auto;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuhead {
	margin: auto;
	margin-bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menuheader {
	color: var(--light-green);
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Noto Serif", serif;
	margin: 10px;
}

.menubreakline {
	border-bottom: 3px solid var(--light-green);
	width: 13%;
	margin: 20px;
}

.mainheading {
	font-size: 32px;
	color: var(--light-green);
}

.mainbl {
	width: 13%;
}

.fullmenu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 100%;
}

.itemname {
	color: var(--light-green);
	font-family: "Noto Serif", serif;
	font-size: 24px;
}

.menubar {
	width: 90%;
}

.paritem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.iteminfo {
	width: 60%;
}

.itemprice {
	width: 20%;
	color: var(--light-green);
	font-size: 40px;
	display: flex;
	flex-direction: row-reverse;
}

.mainitem {
	margin: 5px 0 30px 0;
}

.mainbtn {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.mainbtns {
	margin: 50px auto;
}


/* book section */

.booksection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../images/footer_bg.png");
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: cover;
	color: var(--off-green-text);
	padding: 30px;
}

.headsection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

.bookheading {
	color: var(--light-green);
	font-size: 60px;
	font-family: "Noto Serif", serif;
	margin: 5px;
}

.labels {
	font-size: 22px;
	color: var(--light-green);

}

.form{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.formsection{
	margin: 5px 20px;
}


.inputfield{
	font-size: 22px;
	padding: 5px 10px;
	border: none;
	outline: none;
	width: 100%;
	border-radius: 1px;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.timeinput{
	width: 185px;
	padding: 5px 25px;
}


.bookbtn{
	margin: 50px;
	width: 200px;
	font-size: 24px;
}

.dateinput{
	padding: 5px;
}



/* footer section */


.footer{
	background-color: black;
	padding: 10px 20px;
	height: 124px;
	color: var(--off-green-text);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.icon{
	width: 32px;
	height: 32px;
	border: 1px solid var(--off-green-text);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.copyright{
	font-size: 14px;
}

.footercontent{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.socialmedialinks{
	display: flex;
	justify-content: center;
	align-items: center;

}

.follow{
	text-align: center;
	color: var(--light-green);
	font-size: 20px;
}